.app{
    background: skyblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_calculator{
    height: 500px;
    width: 280px;
    border-radius: 15px;
    border: 2px rgb(39, 102, 191) solid;
    position: relative;
    overflow: hidden;
}

.app_calculator_navbar{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.app_calculator_navbar img{
    height: 24px;
    width: 24px;
}

.app_calculator_navbar_toggle{
    height: 15px;
    width: 30px;
    border-radius: 20px;
    background-color: red;
}

.app_calculator_navbar_toggle_circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    transform: 300ms;
}

.app_calculator_navbar_toggle_circle_active{
    margin-left: 15px;

}